.intro {
    background-color: white;
    display: flex;

    .left {
        flex: 0.5;
        overflow: hidden;

        .imgContainer {
            width: 700px;
            height: 700px;
            background-color: rgb(217, 226, 245);
            border-radius: 50%;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            float: right;

            img {
                height: 90%;
            }
        }
    }

    .right {
        flex: 0.5;
        position: relative;

        .wrapper {
            width: 100%;
            height: 100%;
            padding-left: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h1 {
                font-size: 60px;
                margin: 10px 0;
            }

            h2 {
                font-size: 35px;
            }

            h3 {
                font-size: 30px;
                span {
                    color: crimson;
                }
                .ityped-cursor {
                    -webkit-animation: blink 1s infinite;
                    -moz-animation: blink 1s infinite;
                    animation: blink 1s infinite;
                }

            

                @keyframes blink {
                    50% {
                        opacity: 1;
                    }
                    100% {
                        opacity: 0;
                    }
                }

                @-webkit-keyframes blink {
                    100% {
                        opacity: 0;
                    }
                }

                @-moz-keyframes blink {
                    100% {
                        opacity: 0;
                    }
                }
            }

        }

        a {
            position: absolute;
            bottom: 10px;
            left: 40%;

            img {
                width: 30px;
                animation: arrowBlink 2s infinite;
            }
        }

        @keyframes arrowBlink {
            100% {
                opacity: 0;
            }
            
        }
    }
}