.app {
    height: 100vh;
}

.sections {
    width: 100%;
    height: calc(100vh - 70px); // start the height after 70px
    background-color: lightsalmon;
    position: relative;
    top: 70px; // height of the topbar section
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    scrollbar-width: none; // for firebox

    &::-webkit-scrollbar {
        display: none; // for Edge, safari, chrome
    }

    // for each elements inside
    >* {
        width: 100vw;
        height: calc(100vh - 70px);
        scroll-snap-align: start;
    }
}